/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  color: #eee;
  background-color: #000;
  position: relative;
}

.wrapperBox.openWrapper {
  transform: translateX(0);
}

.wrapperBox.closeWrapper {
  transform: translateX(100vw);
}

header {
  display: inline-block;
}
@media only screen and (max-width: 60em) {
  header {
    display: inline;
    align-items: center;
  }
}
header nav {
  padding: 3rem 7rem;
}
header nav .name {
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.comingSoon {
  display: flex;
  gap: 12vw;
}
@media only screen and (max-width: 60em) {
  .comingSoon {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
}
.comingSoon .left {
  margin-top: 8rem;
  margin-left: 7rem;
  max-width: 60rem;
}
@media only screen and (max-width: 60em) {
  .comingSoon .left {
    margin-top: 5rem;
  }
}
.comingSoon .left .timerHead {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.comingSoon .left .timerBox {
  display: flex;
}
.comingSoon .left .timerBox .timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}
.comingSoon .left .timerBox .timer .timeNum {
  font-size: 5.8rem;
}
@media only screen and (max-width: 31.25em) {
  .comingSoon .left .timerBox .timer .timeNum {
    font-size: 4rem;
  }
}
.comingSoon .left .timerBox .timer .timeDes {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #585858;
  font-weight: lighter;
}
.comingSoon .left .notifyForm {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 60em) {
  .comingSoon .left .notifyForm {
    justify-content: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .comingSoon .left .notifyForm {
    justify-content: flex-start;
  }
}
.comingSoon .left .notifyForm .inputBox {
  display: inline-block;
  position: relative;
  width: 55%;
}
.comingSoon .left .notifyForm .inputBox::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: #fce22a;
  display: block;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.comingSoon .left .notifyForm .inputBox:hover::after {
  content: " ";
  position: absolute;
  transform: scaleX(1);
  width: 100%;
  height: 1px;
  background-color: #fce22a;
  display: block;
}
.comingSoon .left .notifyForm .inputBox .email {
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  padding: 1.4rem 1rem;
  color: #fff;
  background-color: #181818;
  width: 100%;
}
.comingSoon .left .notifyForm .inputBox .email:focus {
  outline: none;
  color: #fff;
}
.comingSoon .left .notifyForm .inputBox ::placeholder {
  color: #fff;
  font-family: "Space Mono", monospace;
  opacity: 0.9;
}
.comingSoon .left .notifyForm .notifyBtn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  outline: none;
  padding: 1.4rem 1.5rem;
  text-transform: uppercase;
  background-color: #ffbf00;
  white-space: nowrap;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.comingSoon .left .notifyForm .notifyBtn:hover {
  background-color: #fce22a;
  letter-spacing: 0.05rem;
}
.comingSoon .right {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  max-width: 40rem;
  font-family: "Space Mono", monospace;
}
@media only screen and (max-width: 60em) {
  .comingSoon .right {
    text-align: center;
  }
}
@media only screen and (max-width: 60em) {
  .comingSoon .right .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comingSoon .right .contentBox p {
  font-size: 1.6rem;
  position: relative;
}
.comingSoon .right .contentBox p::after {
  content: " ";
  position: absolute;
  left: -20px;
  top: 8px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #54b435;
  display: block;
}
.comingSoon .right .contentBox h3 {
  font-size: 2.4rem;
  font-weight: 400;
  position: relative;
}
.comingSoon .right .contentBox h3::after {
  content: " ";
  position: absolute;
  left: -20px;
  top: 14px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #ffc93c;
  display: block;
}
.comingSoon .right .contentBox #elinkhead {
  font-size: 2.4rem;
  font-weight: 400;
  position: relative;
}
.comingSoon .right .contentBox #elinkhead::after {
  content: " ";
  position: absolute;
  left: -20px;
  top: 14px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #e96479;
  display: block;
}
.comingSoon .right .contentBox .contactBtn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  outline: none;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.comingSoon .right .contentBox .contactBtn:hover {
  border: 1px solid #ffbf00;
  letter-spacing: 0.05rem;
}
.comingSoon .right .contentBox .emailLink {
  font-size: 1.8rem;
  text-decoration: none;
  color: blue;
  text-decoration: underline;
  font-weight: 400;
}

.wrapperBox {
  font-family: "Space Mono", monospace;
  background-color: #1f1f1f;
  width: 47vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 5vw 10vw;
  z-index: 10;
  transform: translateX(100vw);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
@media only screen and (max-width: 60em) {
  .wrapperBox {
    width: 60vw;
    gap: 8rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .wrapperBox {
    width: 80vw;
    height: 120vh;
  }
}
.wrapperBox .closeWrapper {
  outline: none;
  border: none;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #a5a1a1;
  background-color: inherit;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  margin-left: -3.5rem;
  cursor: pointer;
}
.wrapperBox .closeWrapper svg {
  height: 1.3rem;
  width: 1.3rem;
  fill: #a5a1a1;
  margin-right: 1rem;
}
.wrapperBox .headWrapper {
  font-family: inherit;
  font-size: 6rem;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  .wrapperBox .headWrapper {
    font-size: 4rem;
  }
}
.wrapperBox .headWrapper::after {
  content: " ";
  position: absolute;
  left: -2.2rem;
  top: 4rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #ffbf00;
  display: block;
}
@media only screen and (max-width: 60em) {
  .wrapperBox .headWrapper::after {
    top: 3.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .wrapperBox .headWrapper::after {
    top: 2rem;
  }
}
.wrapperBox .formWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 25vw;
}
@media only screen and (max-width: 60em) {
  .wrapperBox .formWrapper {
    width: 40vw;
    gap: 5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .wrapperBox .formWrapper {
    width: 55vw;
  }
}
.wrapperBox .formWrapper .inputLabel {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapperBox .formWrapper .inputLabel .inputSpan {
  position: relative;
}
.wrapperBox .formWrapper .inputLabel .inputSpan::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  background-color: #fce22a;
  display: block;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.wrapperBox .formWrapper .inputLabel .inputSpan:hover::after {
  content: " ";
  position: absolute;
  transform: scaleX(1);
  width: 100%;
  height: 1px;
  background-color: #fce22a;
  display: block;
}
.wrapperBox .formWrapper .inputLabel .inputSpan .inputField {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: inherit;
}
.wrapperBox .formWrapper .inputLabel .inputSpan .inputField:focus {
  background-color: #191919;
}
.wrapperBox .formWrapper .inputLabel .inputSpan ::placeholder {
  font-family: "Space Mono", monospace;
  color: #a5a1a1;
}
.wrapperBox .submitBtn {
  display: flex;
  align-items: center;
  align-self: first baseline;
  outline: none;
  border: 1px solid #fff;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: inherit;
  letter-spacing: 0.1rem;
  padding: 0.8rem 1.5rem;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapperBox .submitBtn:hover {
  opacity: 1;
}
.wrapperBox .submitBtn:hover svg {
  opacity: 1;
  transform: translateX(3px);
}
.wrapperBox .submitBtn svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
  opacity: 0.6;
  margin-left: 0.5rem;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
