header {
  display: inline-block;

  @media only screen and (max-width: $bp-medium) {
    display: inline;
    align-items: center;
    width: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    position: fixed;
    z-index: 5;
    background-color: #181818;
  }

  nav {
    padding: 3rem 7rem;

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem 7rem;
    }

    .name {
      font-family: "Space Mono", monospace;
      font-size: 3rem;
      color: #fff;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}

.comingSoon {
  display: flex;
  gap: 12vw;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .left {
    margin-top: 8rem;
    margin-left: 7rem;
    max-width: 60rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 1rem;
      overflow-x: hidden;
      margin-top: 15rem;
    }

    .timerHead {
      font-family: "Space Mono", monospace;
      font-size: 2.5rem;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
    }

    .timerBox {
      display: flex;

      .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 3rem;

        @media only screen and (max-width: $bp-small) {
          padding-right: 1.5rem;
        }

        .timeNum {
          font-size: 5.8rem;

          @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
          }
        }

        .timeDes {
          font-size: 1.4rem;
          text-transform: uppercase;
          color: #585858;
          font-weight: lighter;
        }
      }
    }

    .notifyForm {
      margin-top: 5rem;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
      }

      @media only screen and (max-width: $bp-small) {
        justify-content: flex-start;
        width: 120%;
      }

      .inputBox {
        display: inline-block;
        position: relative;
        width: 55%;

        &::after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          height: 1px;
          background-color: #fce22a;
          display: block;
          transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        }

        &:hover::after {
          content: " ";
          position: absolute;
          transform: scaleX(1);
          width: 100%;
          height: 1px;
          background-color: #fce22a;
          display: block;
        }

        .email {
          border: none;
          font-family: "Space Mono", monospace;
          font-size: 1.4rem;
          padding: 1.4rem 1rem;
          color: #fff;
          background-color: #181818;
          width: 100%;
        }

        .email:focus {
          outline: none;
          color: #fff;
        }

        ::placeholder {
          color: #fff;
          font-family: "Space Mono", monospace;
          opacity: 0.9;
        }
      }

      .notifyBtn {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        color: #000;
        outline: none;
        padding: 1.4rem 1.5rem;
        text-transform: uppercase;
        background-color: #ffbf00;
        white-space: nowrap;
        margin-left: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          background-color: #fce22a;
          letter-spacing: 0.05rem;
        }
      }

      // .notifyBtn::before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   height: 1rem;
      //   width: 1rem;
      //   transform: translate(-50%, -50%);
      //   background-color: red;
      // }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    max-width: 40rem;
    font-family: "Space Mono", monospace;

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 2rem 0;
    }

    .contentBox {
      @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        font-size: 1.6rem;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          left: -20px;
          top: 8px;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          background-color: #54b435;
          display: block;
        }
      }

      h3 {
        font-size: 2.4rem;
        font-weight: 400;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          left: -20px;
          top: 14px;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          background-color: #ffc93c;
          display: block;
        }
      }

      #elinkhead {
        font-size: 2.4rem;
        font-weight: 400;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          left: -20px;
          top: 14px;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          background-color: #e96479;
          display: block;
        }
      }

      .contactBtn {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        color: #fff;
        outline: none;
        padding: 1rem 1.5rem;
        background-color: transparent;
        border: 1px solid #fff;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          border: 1px solid #ffbf00;
          letter-spacing: 0.05rem;
        }
      }

      .emailLink {
        font-size: 1.8rem;
        text-decoration: none;
        color: blue;
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
}

.wrapperBox {
  font-family: "Space Mono", monospace;
  background-color: #1f1f1f;
  width: 47vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 5vw 10vw;
  z-index: 10;
  transform: translateX(100vw);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);

  @media only screen and (max-width: $bp-medium) {
    width: 60vw;
    gap: 8rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 80vw;
    gap: 6rem;
  }

  .closeWrapper {
    outline: none;
    border: none;
    padding: 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: #a5a1a1;
    background-color: inherit;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    margin-left: -3.5rem;
    cursor: pointer;

    svg {
      height: 1.3rem;
      width: 1.3rem;
      fill: #a5a1a1;
      margin-right: 1rem;
    }
  }

  .headWrapper {
    font-family: inherit;
    font-size: 6rem;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }

    &::after {
      content: " ";
      position: absolute;
      left: -2.2rem;
      top: 4rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      background-color: #ffbf00;
      display: block;

      @media only screen and (max-width: $bp-medium) {
        top: 3.2rem;
      }

      @media only screen and (max-width: $bp-small) {
        top: 2rem;
      }
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 25vw;

    @media only screen and (max-width: $bp-medium) {
      width: 40vw;
      gap: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 55vw;
    }

    .inputLabel {
      display: flex;
      flex-direction: column;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;

      .inputSpan {
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          height: 1px;
          background-color: #fce22a;
          display: block;
          transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        }

        &:hover::after {
          content: " ";
          position: absolute;
          transform: scaleX(1);
          width: 100%;
          height: 1px;
          background-color: #fce22a;
          display: block;
        }

        .inputField {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.7rem;
          margin-top: 1rem;
          background-color: inherit;

          &:focus {
            background-color: #191919;
          }
        }

        ::placeholder {
          font-family: "Space Mono", monospace;
          color: #a5a1a1;
        }
      }
    }
  }

  .submitBtn {
    display: flex;
    align-items: center;
    align-self: first baseline;
    outline: none;
    border: 1px solid #fff;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    background-color: inherit;
    letter-spacing: 0.1rem;
    padding: 0.8rem 1.5rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    &:hover svg {
      opacity: 1;
      transform: translateX(3px);
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: #fff;
      opacity: 0.6;
      margin-left: 0.5rem;
      transition: all 0.3s;
    }
  }
}
